.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #0a2034, #0d3b66);
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  font-size: 0.9rem;
}

.sidebar ::ng-deep .p-button {
  margin-bottom: 0.6rem;
  width: 100%;
}

.sidebar ::ng-deep .p-button:hover {
  background-color: #1f4e79 !important;
}
